# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: HelloService API
    description: |-
        提供问候语服务。
         1. 服务级别的注解 option (google.api.default_host) = "https://huige.api.com";
         2. 服务级别的注解 option (google.api.oauth_scopes) = "https://www.huige.com/auth/user";
         3. 服务级别的注解
         4. 服务级别的注解
         5. 服务级别的注解
    version: 0.0.1
servers:
    - url: https://huige.api.com
paths:
    /v1/users/{user}:
        post:
            tags:
                - HelloService
            description: |-
                获取用户信息
                 @openapi.security: BearerAuth
            operationId: HelloService_GetUser
            parameters:
                - name: user
                  in: path
                  description: The user id.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Req'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
components:
    schemas:
        GoogleProtobufAny:
            type: object
            properties:
                '@type':
                    type: string
                    description: The type of the serialized message.
            additionalProperties: true
            description: Contains an arbitrary serialized message along with a @type that describes the type of the serialized message.
        Req:
            required:
                - name
            type: object
            properties:
                age:
                    type: integer
                    description: 年龄
                    format: int32
                purchaseDate:
                    type: string
                    description: 购买日期
                    format: date-time
                deliveryDate:
                    type: string
                    description: 交付日期
                    format: date-time
                name:
                    type: string
                    description: 物品名
            description: 请求参数
        Status:
            type: object
            properties:
                code:
                    type: integer
                    description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
                    format: int32
                message:
                    type: string
                    description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.
                details:
                    type: array
                    items:
                        $ref: '#/components/schemas/GoogleProtobufAny'
                    description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
            description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).'
        User:
            type: object
            properties:
                id:
                    readOnly: true
                    type: string
                    description: 用户id
                name:
                    readOnly: true
                    type: string
                    description: 用户名
            description: 用户信息
tags:
    - name: HelloService
